<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="text" class="form-control" ng-model="query" placeholder="搜索房间...">
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3" ng-repeat="room in rooms | filter:{name:query} track by $index">
                <div class="panel panel-success">
                    <div style="cursor: pointer" class="panel-heading" ng-click="enterRoom(room._id)">
                        房间名：{{room.name}}
                    </div>
                    <div class="panel-footer">
                        在线人数：{{room.users.length}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">创建新房间</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form ng-submit="createRoom()" class="modal-content" name="roomForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">创建新房间</h4>
            </div>
            <div class="modal-body">
                房间名：<input ng-required="true" type="text" class="form-control" ng-model="roomName">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="roomForm.$invalid">创建</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </form>
    </div>
</div>
